/************************************************/
/**               Overrides                    **/
/************************************************/
table tr { 
        vertical-align:top;
}
table.table-white {
        background-color:#fff;
}

/************************************************/
/**               View Table                   **/
/************************************************/

div.table-container { 
	display: table; 
	border-radius: 4px; 
	border:1px solid #AABFE9;
	background-color:#fff;
	margin:10px auto;
}
div.table-header {
	display: table-row;
	text-align:center;
	font-weight:bold;
}
div.table-row {
	display: table-row;
	text-align:center;
}
div.table-row:hover {
	background-color: #ebf0fa;
}
div.table-cell { 
	display: table-cell;
	padding:5px; 
	border-bottom: 1px solid #AABFE9; 
}
#content { 
	margin:0px auto;
	padding:0px; 
	width:1000px;
} 
.content-block {
	background-color:#C2D1F0;
	border:1px solid #AABFE9;
	border-radius: 4px; 
	margin-top: 10px; 
        padding:5px; 
} 
.record-header-left {
        float:left;
        height:152px;
}
.record-header-right {
        height:152px;
}
